body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    padding-bottom: 500px;
    margin-top: -30px;
}

img {
    height: 50px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-size: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-score-button, .auto-play-button, .auto-play-button-2 {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 8px 15px;
    cursor: pointer;
}

.auto-play-button-2 {
    padding: 0px;
}
